# Lesson Four : Apply Filter in Pyspark
### By Samuel Ko

In [15]:
# Pyspark Dataframe
# - Filter Operation
# - &,|,==
# - ~

In [16]:
from pyspark.sql import SparkSession

In [17]:
# Create a spark session (spark is a variable)
# for operation
spark=SparkSession.builder.appName('Spark_SQL').getOrCreate()

In [18]:
spark

In [19]:
df_pyspark=spark.read.csv('test4.csv', header=True, inferSchema=True)

In [20]:
df_pyspark.show()

+---------------+---+-------------------+----------+------+
|           Name|Age|      Qualification|Experience|Salary|
+---------------+---+-------------------+----------+------+
| Kennith Kawaki| 33|            Diploma|         7| 49000|
|    Sudans Wong| 31|         Apprentice|         6| 40000|
|    Polly Combo| 27|            Diploma|         4| 35000|
| Desmond Cheung| 51|University Graduate|        22| 88000|
|      Chariotte| 35|            Diploma|         8| 61000|
|         Sophia| 24|         Apprentice|         3| 30000|
|Johnson Kawaksy| 25|            Diploma|         3| 28000|
|   George Woody| 31|University Graduate|         7| 47000|
|     Pansy Rose| 33|         Apprentice|        10| 65000|
|           John| 17|         Apprentice|         1| 24300|
|          Peter| 45|University Graduate|        18| 81000|
|          David| 42|University Graduate|        15| 76000|
|         Usamha| 28|            Diploma|         4| 33000|
|     Zain Amjun| 34|         Apprentice|      null| 55000|
|   May Mackency| 29|            Diploma|         5| 39000|
|  Edwards Colin| 26|         Apprentice|         3| 31000|
|   Megan Guydry| 35|University Graduate|        12| 72000|
| Raymon Almeida| 25|            Diploma|         2| 26500|
+---------------+---+-------------------+----------+------+

In [21]:
# Filter the people whose salary has less than 35000
df_pyspark.filter("Salary<35000").show()

+---------------+---+-------------+----------+------+
|           Name|Age|Qualification|Experience|Salary|
+---------------+---+-------------+----------+------+
|         Sophia| 24|   Apprentice|         3| 30000|
|Johnson Kawaksy| 25|      Diploma|         3| 28000|
|           John| 17|   Apprentice|         1| 24300|
|         Usamha| 28|      Diploma|         4| 33000|
|  Edwards Colin| 26|   Apprentice|         3| 31000|
| Raymon Almeida| 25|      Diploma|         2| 26500|
+---------------+---+-------------+----------+------+

In [22]:
# Filter out the year of Experience which salary has greater than 65000
df_pyspark.filter("Salary>65000").select(['Experience','Salary','Qualification']).show()

+----------+------+-------------------+
|Experience|Salary|      Qualification|
+----------+------+-------------------+
|        22| 88000|University Graduate|
|        18| 81000|University Graduate|
|        15| 76000|University Graduate|
|        12| 72000|University Graduate|
+----------+------+-------------------+

In [23]:
# Show all record here first, then filter again
df_pyspark.show()

+---------------+---+-------------------+----------+------+
|           Name|Age|      Qualification|Experience|Salary|
+---------------+---+-------------------+----------+------+
| Kennith Kawaki| 33|            Diploma|         7| 49000|
|    Sudans Wong| 31|         Apprentice|         6| 40000|
|    Polly Combo| 27|            Diploma|         4| 35000|
| Desmond Cheung| 51|University Graduate|        22| 88000|
|      Chariotte| 35|            Diploma|         8| 61000|
|         Sophia| 24|         Apprentice|         3| 30000|
|Johnson Kawaksy| 25|            Diploma|         3| 28000|
|   George Woody| 31|University Graduate|         7| 47000|
|     Pansy Rose| 33|         Apprentice|        10| 65000|
|           John| 17|         Apprentice|         1| 24300|
|          Peter| 45|University Graduate|        18| 81000|
|          David| 42|University Graduate|        15| 76000|
|         Usamha| 28|            Diploma|         4| 33000|
|     Zain Amjun| 34|         Apprentice|      null| 55000|
|   May Mackency| 29|            Diploma|         5| 39000|
|  Edwards Colin| 26|         Apprentice|         3| 31000|
|   Megan Guydry| 35|University Graduate|        12| 72000|
| Raymon Almeida| 25|            Diploma|         2| 26500|
+---------------+---+-------------------+----------+------+

In [24]:
# Filter out the person whose salary less than 25000
# and Year of Experience less than 7 years
# Display columns in sequence 'Name','Salary','Experience'
df_pyspark.filter((df_pyspark['Salary']<75000) & 
                  (df_pyspark['Experience']<7)).select(['Qualification','Salary','Experience']).show()

+-------------+------+----------+
|Qualification|Salary|Experience|
+-------------+------+----------+
|   Apprentice| 40000|         6|
|      Diploma| 35000|         4|
|   Apprentice| 30000|         3|
|      Diploma| 28000|         3|
|   Apprentice| 24300|         1|
|      Diploma| 33000|         4|
|      Diploma| 39000|         5|
|   Apprentice| 31000|         3|
|      Diploma| 26500|         2|
+-------------+------+----------+

In [25]:
# also can be filter complement result whose
# 'Salary' not greater 45000 and 'Experience' not >= 6
df_pyspark.filter(~((df_pyspark['Salary']>45000) & (df_pyspark['Experience']>=6))).select(['Name','Salary','Experience']).show()

+---------------+------+----------+
|           Name|Salary|Experience|
+---------------+------+----------+
|    Sudans Wong| 40000|         6|
|    Polly Combo| 35000|         4|
|         Sophia| 30000|         3|
|Johnson Kawaksy| 28000|         3|
|           John| 24300|         1|
|         Usamha| 33000|         4|
|   May Mackency| 39000|         5|
|  Edwards Colin| 31000|         3|
| Raymon Almeida| 26500|         2|
+---------------+------+----------+