# Lesson one : Introduction to Pyspark
### By Samuel Ko

In [1]:
# Below items will be included in this part1
# -PaSpark Datafirme
# -Reading the dataset
# -Cheaking the Datatypes of the Column(Schema)
# -Selecting Columns Adn Indexing
# -Check Describe option similar to Pandas
# -Adding Columns
# -Dropping Columns

In [2]:
# Import the pyspark package
import pyspark

In [3]:
import pandas as pd
pd.read_csv('test1.csv')

             Name  age
0  Kennith Kawaki   33
1     Sudans Wong   31
2     Polly Combo   27
3  Desmond Cheung   51
4       Chariotte   35
5          Sophia   25
6            John   25
7    George Woody   31
8      Pansy Rose   33

In [4]:
# Use SparkSession to create DataFrame,
# and execute SQL commands over tables, cache tables, and read parquet files
from pyspark.sql import SparkSession

In [7]:
# Create a spark session for operation for lesson one's practice
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [8]:
spark

In [9]:
# Create pyspark dataframe to read file again
df_pyspark = spark.read.csv('test1.csv')

In [10]:
# Read the table schema
df_pyspark

DataFrame[_c0: string, _c1: string]

In [11]:
# Read the table schema with header display
df_pyspark=spark.read.option('header','true').csv('test1.csv')

In [12]:
df_pyspark

DataFrame[Name: string, age: string]

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
df_pyspark.head(5)

[Row(Name='Kennith Kawaki', age='33'),
 Row(Name='Sudans Wong', age='31'),
 Row(Name='Polly Combo', age='27'),
 Row(Name='Desmond Cheung', age='51'),
 Row(Name='Chariotte', age='35')]

In [15]:
# Use printSchema() to print the actural schema, however, all strings by default
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)